<div class="card">
    <div class="card-content">
        <div class="ml-3">     
            <h2>{{ locationSelected.location.name }}</h2> 
            &nbsp;   
            <small>{{ locationSelected.location.country }}</small>   
        </div>   
        <span class="ml-3">{{ locationSelected.current.last_updated }}</span>            
        <p class="ml-3">{{ locationSelected.current.condition.text }}</p>
        <div class="row mt-5">
            <div class="col-md-7" style="padding-left: 150px">
                <div class="card-img">            
                    <img src="{{ locationSelected.current.condition.icon }}" alt="">
                    <h5 *ngIf="scaleSelected=='C'">{{ locationSelected.current.temp_c }}</h5>   
                    <h5 *ngIf="scaleSelected=='F'">{{ locationSelected.current.temp_f }}</h5>
                    <div class="degree">
                        <small (click)="changeScale('C')">°C</small>
                        <small class="ml-1 mr-1">|</small>
                        <small (click)="changeScale('F')">°F</small>
                    </div>
                </div>
                <small style="padding-left:25px">Sensaci&oacute;n t&eacute;rmica: </small>
                <small *ngIf="scaleSelected=='C'">{{ locationSelected.current.feelslike_c }}°</small>
                <small *ngIf="scaleSelected=='F'">{{ locationSelected.current.feelslike_f }}°</small>
            </div>
            <div class="col-md-5">
                <div>
                    <span>Precipitaciones (mm):  </span><span>{{ locationSelected.current.precip_mm }}</span>
                </div>
                <div>
                    <span>Humedad:  </span><span>{{ locationSelected.current.humidity }}</span>
                </div>
                <div>
                    <span>Viento:  </span><span>{{ locationSelected.current.wind_kph }}</span><span>km/h</span>
                </div>
            </div>
        </div>        
        <div class="card-desc mt-5">              
                <app-forecast-card
                *ngFor="let w of locationSelected.forecast.forecastday" 
                [forecastday]="w">
                </app-forecast-card>
        </div>
    </div>
</div>
